body {
    background-color: blanchedalmond;
}

h1 {
    width: 200px;
    height: max-content;
    text-align: center;
    background-color: black;
    font: 20px/1.5;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid white;
    border-radius: 15px;
    margin: auto;
}